@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap");
/****Grid layout settings****/
/*General for documetn settings*/
/*Color*/
/*ADD NEW COLORS VAR*/
/*Typography*/
/*h1*/
/*navbar*/
/*navigation icon*/
/*container*/
/*wrapper*/
/*section wrapper*/
/*container wrapper*/
/*btn up*/
/*General styles*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-width: 300px;
  font-family: "Inter", sans-serif;
  color: #1A1A1A;
  font-size: 16px;
  position: relative;
}

@media screen and (min-width: 640px) {
  html, body {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6, p, a, i, em, strong {
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

input, textarea, button, input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder {
  outline: none;
  font-family: "Poppins", sans-serif;
  border: none;
}

input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder {
  color: #000;
}

/*container-block*/
.c-wrap {
  margin: 40px 0px;
  padding: 0px;
}

@media screen and (min-width: 640px) {
  .c-wrap {
    margin: 40px 0px;
    padding: 0px;
  }
}

/*wrapper*/
.wrapper {
  max-width: 730px;
  margin: 0 auto;
  text-align: left;
  padding: 42px;
}

/*section-block*/
.s-wrap {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 640px) {
  .s-wrap {
    margin: 0px;
    padding: 40px 0px;
  }
}

/*navbar*/
.navbar {
  font-family: "Product Sans", sans-serif;
}

.navbar__list li {
  margin: 12px 12px 12px 12px;
}

@media screen and (min-width: 1100px) {
  .navbar__list li {
    margin: 0px 0px 0px 58px;
  }
  .navbar__list li:nth-child(2) {
    margin-left: 0;
  }
}

.navbar__list li a {
  font-size: 16px;
}

/*navbar*/
/*navigation icon*/
.nav-icon {
  margin: 0px;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@media screen and (min-width: 1100px) {
  .nav-icon {
    display: none;
  }
}

.nav-icon i {
  width: 80%;
  border-radius: 16px;
  display: block;
  height: 2px;
  background: #000;
  position: absolute;
  left: 3px;
  top: 0;
  -webkit-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, -webkit-transform 0.2s 0.2s ease;
  transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, -webkit-transform 0.2s 0.2s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease, -webkit-transform 0.2s 0.2s ease;
}

.nav-icon i:nth-child(1) {
  top: 4px;
}

.nav-icon i:nth-child(2) {
  top: 9px;
}

.nav-icon i:nth-child(3) {
  top: 14px;
}

.nav-icon.open {
  z-index: 7;
}

.nav-icon.open i {
  -webkit-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, -webkit-transform 0.3s 0.4s ease;
  transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, -webkit-transform 0.3s 0.4s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease, -webkit-transform 0.3s 0.4s ease;
  background: #fff;
}

.nav-icon.open i:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.open i:nth-child(2) {
  opacity: 0;
}

.nav-icon.open i:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*end navigation icon*/
/*start btn up*/
.btn-up {
  display: block;
  background: #333;
  border-radius: 90%;
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 1000;
  right: 10px;
  bottom: -50px;
  cursor: pointer;
  outline: 0 !important;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.6;
}

.btn-up:after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-up.show {
  bottom: 10px;
}

/*end btn up*/
/*flex-blocks grid layout*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}

.flex-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*flex-block small device*/
@media screen and (min-width: 480px) {
  .flex-sd-column {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-row {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-row-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-column-reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-align-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-align-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 480px) {
  .flex-sd-align-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 480px) {
  .item-sd-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .item-sd-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 480px) {
  .item-sd-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

/*flex-block middle device*/
@media screen and (min-width: 640px) {
  .flex-md-column {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-row {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-align-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-align-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 640px) {
  .flex-md-align-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 640px) {
  .item-md-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 640px) {
  .item-md-center {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

/*flex-block semi middle device*/
@media screen and (min-width: 780px) {
  .flex-smd-column {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-row {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-row-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-column-reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-align-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-vertical-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 780px) {
  .flex-smd-align-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 780px) {
  .item-smd-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 780px) {
  .item-smd-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 780px) {
  .item-smd-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

/*flex-block large device*/
@media screen and (min-width: 960px) {
  .flex-ld-column {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-row {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-row-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-column-reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-align-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-align-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-align-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 960px) {
  .item-ld-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 960px) {
  .item-ld-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 960px) {
  .item-ld-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

/*flex-block extra large device*/
@media screen and (min-width: 1100px) {
  .flex-xld-column {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-row {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-row-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-column-reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-align-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-align-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-align-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 1100px) {
  .item-xld-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 1100px) {
  .item-xld-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1100px) {
  .item-xld-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=grid.css.map */