h1,h2,h3,h4,h5,h6
    font-family: 'Poppins', sans-serif
    font-weight: bold
    text-transform: capitalize

h1
	font-size: 40px
	line-height: 50px
	@media screen and (min-width: #{$dw-ssd})
        font-size: 60px
        line-height: 90px

h2
	font-size: 36px
	line-height: 84px
	@media screen and (min-width: #{$dw-ssd})
		font-size: 48px

h3
	font-size: 32px
	line-height: 48px
	@media screen and (min-width: #{$dw-ssd})
		font-size: 43px

h4
	font-size: 26px
	line-height: 48px
	@media screen and (min-width: #{$dw-ssd})
		font-size: 36px

h5
	font-size: 22px
	line-height: 36px
	@media screen and (min-width: #{$dw-ssd})
		font-size: 24px


.btn
    padding: 12px 25px
    border-radius: 4px
    cursor: pointer
    display: inline-block
    &.primary
        padding: 12px 32px
        background: #2C5DE5
        color: #fff
        font-weight: 600
    &.light
        background: #EEF3FF
        color: #2C5DE5
        font-weight: 600